USE [master]
GO
/****** Object:  Database [emotionDB]    Script Date: 1/5/2022 9:39:24 PM ******/
CREATE DATABASE [emotionDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'emotionDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\emotionDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'emotionDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\emotionDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [emotionDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [emotionDB]
GO
/****** Object:  Table [dbo].[Camera]    Script Date: 1/5/2022 9:39:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Camera](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](255) NOT NULL,
	[Ngay] [datetime] NOT NULL,
	[active] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emotion]    Script Date: 1/5/2022 9:39:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emotion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[image] [nvarchar](255) NOT NULL,
	[LoaiCamXuc] [int] NOT NULL,
	[ThietBi] [int] NOT NULL,
	[Ngay] [datetime] NOT NULL,
	[Kip] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Camera] ON 

INSERT [dbo].[Camera] ([Id], [ten], [Ngay], [active]) VALUES (3, N'Camera_0', CAST(N'2021-11-01T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Camera] ([Id], [ten], [Ngay], [active]) VALUES (4, N'Camera_1', CAST(N'2021-11-02T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Camera] ([Id], [ten], [Ngay], [active]) VALUES (5, N'Camera_2', CAST(N'2021-11-03T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Camera] OFF
GO
SET IDENTITY_INSERT [dbo].[Emotion] ON 

INSERT [dbo].[Emotion] ([Id], [image], [LoaiCamXuc], [ThietBi], [Ngay], [Kip]) VALUES (1, N'https://www.pngall.com/wp-content/uploads/2/Angry-Person-Transparent.png', 0, 1, CAST(N'2021-12-28T00:00:00.000' AS DateTime), 3)
INSERT [dbo].[Emotion] ([Id], [image], [LoaiCamXuc], [ThietBi], [Ngay], [Kip]) VALUES (2, N'https://www.pngall.com/wp-content/uploads/2/Angry-Person-Transparent.png', 1, 6, CAST(N'2021-12-28T00:00:00.000' AS DateTime), 6)
INSERT [dbo].[Emotion] ([Id], [image], [LoaiCamXuc], [ThietBi], [Ngay], [Kip]) VALUES (3, N'https://www.pngall.com/wp-content/uploads/2/Angry-Person-Transparent.png', 3, 6, CAST(N'2021-12-28T00:00:00.000' AS DateTime), 4)
GO
SET IDENTITY_INSERT [dbo].[Emotion] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Camera__DC107AB11CBE293B]    Script Date: 1/5/2022 9:39:25 PM ******/
ALTER TABLE [dbo].[Camera] ADD UNIQUE NONCLUSTERED 
(
	[ten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
